@model AddBarberReservationVM

<h3 class="mt-4 mb-3">Chose your barber</h3>
<div class="p-3 mt-2" style="width:95%">
	<form method="POST" asp-controller="Appointment" asp-action="NextChoseDateTime">
	@for(int i = 0; i < Model.Services.Count; i++)
	{
		<input asp-for="@Model.Services[i].ServiceId" hidden/>
	}
		
		@foreach(var obj in Model.Barbers)
	{
		<div class="row">
				<div class="col mb-3  border border-3 p-2" style="box-shadow: 1px 1px 5px 3px;">
				<div class="d-flex align-items-center justify-content-between">
					<div>
						<div class="d-inline-block">
							<img src=@obj.Barber.ImageUrl style="width:130px;height:130px;border-radius:50%">
						</div>
						<div class="d-inline-block ms-4" style="color:black;font-weight:600">
								@obj.Barber.FirstName @obj.Barber.LastName
								<br>
								@obj.Barber.PhoneNumber
						</div>
					</div>
					<div>
						<input asp-for="@Model.Barbers[@Model.Barbers.IndexOf(obj)].IsChecked" class="fs-1" />
						<input asp-for="@Model.Barbers[@Model.Barbers.IndexOf(obj)].Barber.BarberId" hidden />
						<input asp-for="@Model.Barbers[@Model.Barbers.IndexOf(obj)].Barber.FirstName" hidden />
						<input asp-for="@Model.Barbers[@Model.Barbers.IndexOf(obj)].Barber.LastName" hidden />
					</div>
				</div>
			</div>
		</div>
	}
	<button type="submit" class="btn btn-outline-primary ms-2 mt-3 mb-3 float-end" style="width:150px">Next</button>
	</form>
</div>

<script>

	function updateCheckboxes(checkboxes) {
		for (var i = 0; i < checkboxes.length; i++) {
			checkboxes[i].checked = false;
		}
		this.checked = true;
	}

	var checkBoxes = document.querySelectorAll('input[type="checkbox"]');
	checkBoxes[0].checked = true;
	checkBoxes.forEach(function (checkBox) {
		checkBox.addEventListener('change',function(){
			updateCheckboxes.call(this, checkBoxes);
		})
	})


</script>